@tailwind base;
@tailwind components;
@tailwind utilities;

#video {
    -webkit-filter: opacity(50%);
    filter: opacity(50%);
}

#white {
    -webkit-filter: brightness(0) invert(0.8);
    filter: brightness(0) invert(0.8);
}

/*  */

#alert {
    overflow: hidden;
    top: 0.5rem;
    transition: top 0.5s;
}

#alert.alert-closed {
    top: -20%;
}